.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/expression_data/*.tsv
src/ontology/expression_data/*.ofn
src/ontology/expression_data/*.owl
src/ontology/metadata_files
src/ontology/metadata_files/*
src/ontology/VFB_scRNAseq.owl
src/ontology/VFB_scRNAseq.obo
src/ontology/VFB_scRNAseq.json
src/ontology/VFB_scRNAseq-base.*
src/ontology/VFB_scRNAseq-basic.*
src/ontology/VFB_scRNAseq-full.*
src/ontology/VFB_scRNAseq-simple.*
src/ontology/VFB_scRNAseq-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-VFB_scRNAseq-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt
src/ontology/imports/external_terms.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt

VFB_scRNAseq-base.owl
VFB_scRNAseq-full.owl
VFB_scRNAseq-non-classified.owl
VFB_scRNAseq-simple.owl
VFB_scRNAseq.owl
src/ontology/components/expression_data.owl
*.pyc
